//*
//*
//*
//*
//* Contact-Section Countdown Styles
//*
//*
//*

#countdown {
    width: 100%;
    position: relative;
    height: auto;
    text-align: center;
    margin-top: 40px;
    margin-bottom: 0;
    background-color: transparent;
    border: 0;
    .countdown-section {
        display: inline-block;
        position: relative;
        width: 25%;
        height: auto;
        min-height: 150px;
        vertical-align: top;
        border-left: 1px solid $white_40;
        &:first-child {
            border-left: none;
        }
    }
    .countdown-amount {
        margin: 0;
        font-size: 48px;
        font-weight: 700;
        line-height: 90px;
        color: $white;
        display: block;
    }
    .countdown-period {
        font-size: 14px;
        color: $white;
        font-family: $font_open_sans, $font_sans_serif;
        font-weight: 300;
    }
}
#singlePage {
    padding-bottom: 100px;
    position: relative;
}
.paginationRow {
    padding: 80px 10px;
}
iframe {
    border: 0;
}
#result h2 {
    letter-spacing: 0;
}