// #
// # Author: Iacob Silviu Iulian
// #
// # Variables.
// #
// #
// #
// #

	//General

$body_font_opensans: 'Open Sans';
$body_font_sansserif: sans-serif;
$font_montserrat: 'Montserrat';

$general_transition: all .5s ease .25s;

$white: #ffffff;

$links_color: #252525;
$links_hover_color: #626262;
$links_text_decoration: none;


	//Tools

$sectionIntro_border: solid 6px #a60303;
$sectionIntro_padding: 20px 40px;
$preloader_logo_min_width: 200px;
$preloader_logo_max_height: 300px;
$preloader_logo_width: 15%;

	//Parallax-Letters

$parallax_letters_color: #F9F9F9;
$parallax_letters_width: 200px;
$parallax_letters_height: 300px;
$parallax_letters_fsize: 300px;

$parallax_letters_letter1_pos_right: 20%;
$parallax_letters_letter2_pos_left: 20%;
$parallax_letters_letter3_pos_right: 15%;
$parallax_letters_letter4_pos_left: 10%;

	//Buttons

$general_btn_background: transparent;
$general_btn_ttransform: uppercase;
$general_btn_border_top: 2px solid transparent;
$general_btn_border_bottom: 2px solid transparent;

$btn_default_background: #d90404;
$btn_default_color: #d90404;

$btn_black_background: #a60303;
$btn_black_color: #a60303;

$btn_transition_afterandbefore: all .4s ease 0.2s;

	//Navbar

$navbar_background: transparent;
$navbar_border: transparent;
$navbar_padding: 30px;
$navbar_padding_left: 50px;
$navbar_padding_right: 50px;

$navbar_ttransform: uppercase;
$navbar_color: #f24405;
$navbar_links: #a60303;

$navbar_event_background: transparent;
$navbar_event_color: #d5d5d5;

$affix_background: rgba(89, 2, 2, .8);

$dropdown_background: #323232;
$dropdown_align: left;

	//Typography

$headers_font_weight: 700;

$h1_size: 50px;
$h1_ttransform: uppercase;
$h1_letter_spacing: 20px;

$h2_size: 30px;
$h2_ttransform: uppercase;
$h2_letter_spacing: 15px;

$h3_size: 24px;
$h3_ttransform: uppercase;
$h3_letter_spacing: 10px;

$h4_size: 20px;
$h4_ttransform: uppercase;
$h4_letter_spacing: 8px;

$h5_size: 14px;
$h5_ttransform: uppercase;
$h5_letter_spacing: 3px;

$h6_size: 12px;
$h6_ttransform: uppercase;
$h6_letter_spacing: 0px;

$p_size: 14px;
$p_weight: 24px;
$p_color: #4c4c4c;
$p_line_height: 24px;
$p_weight: 700;

	//Text Separator

$text-separator-background: #1d1d1d;
$text-separator-color: #e7e7e7;
$time-wrapper-color: #d5d5d5;

	//Welcome Separator

$white-overlay-imgurl: url("../img/gradient.png");

	//About Section

$about_progress_background: #f69e7e;
$about_progress_border: 3px solid #590202;
$about_progress_border_rad: 1px;
$progress_bar_background: #f24405;

$about_background: rgba(255, 255, 255, 0.7);
$about_icon-color: #f5f5f5;

$progress_bar_transition: width .6s ease;
$progress_bar_color: #ffffff;

	//Portfolio Section

$portfolio_intro_border: solid 5px #282828;
$portfolio_intro_padding: 25px 50px;
$portfolio_background: #f8f8f8;
$portfolio-intro-url: 'img/portfolioIntro.jpg';
$gallery-background: #4c4c4c;

	//Team Section

$member_description_font_size: 10px; 
$member_description_text_transform: uppercase;
$member_description_border: solid 1px black;
$team_social_font_size: 18px;

	//Clients Logo

$clients_h3_font_size: 24px;
$clients_h3_border: solid 10px white;
$clients_h3_ttransform: uppercase;
$clients_h3_color: $white;
$clients_h3_letter_spacing: 10px;

	//Services Section

$service_box_separator_width: 100px;
$service_box_separator_max_width: 100px;

$services_h2_span_border: solid 10px #282828;
$service_box_i_font_size: 9em;
$intro_service_box_background_url: 'img/backgroundService.jpg';
$white_box_background: $white;
$black_box_background: #282828;
$black_box_i_color: $white;
$services_simple_background: $white;

$services_icon_width: 40px;
$services_icon_height: 40px;
$services_icon_align: center;
$services_icon_font_size: 40px;
$services_icon_line_height: 40px;
$services_icon_transition: all .3s ease-in-out;

$simple_service_content_h4_letter_spacing: 5px;
$service_icon_2_font_size: 40px;
$service_icon_2_line_height: 40px;
$service_icon_2_transition: all .3s ease-in-out;

	//Testimonials Section

$text_separator_testimonials_h3_span_color: $white;
$text_separator_testimonials_h3_span_font_size: 24px;
$text_separator_testimonials_h3_span_border: solid 10px $white;

$testimonials_review_tit_color: #c8c8c8;
$testimonials_review_tit_font_size: 10px;
$testimonials_review_tit_color_style: italic;

$testimonials_review_align: center;
$testimonials_review_h4_color: #898989;
$testimonials_review_h4_letter_spacing: 0;

	//Pricing Tables

$pricing_background: #f4f4f4;
$pricing_table_wrapper_border: solid 10px black;

	//Contact Section

