//*
//*
//* Author: Iacob Silviu - Iulian
//*
//* Fonts Stored is sasy vars.
//*


// When I say colors under..I mean unique colors anf fonts. Some of the colros and fonts are shared. (most of them actually.)
// Didn't bother too much, sorry!

//fonts under Blog Section
$font_montserrat: Montserrat;
$font_sans_serif: sans-serif;

//fonts under Contact Section
$font_open_sans: Open Sans;

//*
//* Colors stored in sassy vars.
//*

//colors under Blog Section
$color_shark_approx: #282828;
$color_tuatara_approx: #353535;
$white: white;

//colors under Contact Section
$white_40: rgba(255,255,255,0.4);
$color_tuatara_approx: #393939;
$mine_shaft: #323232;
$color_shady_lady_approx: #a5a5a5; //This is great!

//colors under Portfolio Section
$color_gravel_approx: #4c4c4c;

//colors under About Section
$color_wild_sand_approx: #f5f5f5;
$black: black;

//colors under Contact Section
$color_log_cabin_approx: #222222;

//colors under Portfolio Section
$color_rangoon_green_approx: #1d1d1d;
$color_desert_storm_approx: #f8f8f8;
$black_100: rgba(0,0,0,1);
$color_shark_70_approx: rgba(40, 40, 40, 0.70);

//colors under Testimonials Section
$color_pumice_approx: #c8c8c8;
$color_monsoon_approx: #898989;

//colors under Buttons Appendix
$color_mine_shaft_approx: #333;
$color_mercury_approx: #e6e6e6;

//colors under General Section
$color_storm_dust_approx: #626262;

//colors under Navbar Appendix
$color_celeste_approx: #cccccc;

//colors under Parallax Letters Appendix
$color_alabaster_approx: #f9f9f9;

//colors under Pricing Tables Appendix
$wild_sand: #f4f4f4;

//colors under Shortcodes Appendix
$color_steel_blue_approx: #357ebd;
$color_apple_approx: #4cae4c;
$color_picton_blue_approx: #46b8da;
$color_fuel_yellow_approx: #eea236;
$color_valencia_approx: #d43f3a;
$color_quill_gray_approx: #d5d5d5;

//colors under Tools Appendix
$black_80: rgba(0,0,0,0.8);

//colros under Typography Appendix
$paragraphs: #4c4c4c;

//colors under Preloader Appendix
$color_mosque_approx: #046674;
$color_alto_approx: #ddd;

//colors Responsive
$color_mercury_approx: #e7e7e7;
$black_90: rgba(0, 0, 0, 0.9);

//*
//* Links (mostly, if not all are image paths! XD)
//*

//links under Portfolio Section
$portfolio_intro: url(img/portfolioIntro.jpg);

//links under Services Section
$background_service: url(img/backgroundService.jpg);

//links under Welcome Separator Section
$gradient: url(img/gradient.png);

//links under Owl-Carousel Styles
$grabbing_png: url(img/grabbing.png);