@media(min-width: 1200px) {
}
@media(min-width: 1025px) {
}
@media(max-width: 1024px) {
    .gallery {
        .grid-sizer-four-columns {
            width: 50%;
        }
        .four-columns {
            width: 50%;
        }
    }
}
@media(max-width: 992px) {
    #owl-clients {
        margin-top: 50px;
    }
    .widget:first-child {
        margin-top: 100px;
    }
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 22px;
    }
    #text-separator-testimonials h3 {
        text-align: center;
        margin-bottom: 50px;
    }
}
@media(max-width: 900px) {
    .navbar-nav > li > a {
        letter-spacing: 1px;
        padding-left: 10px;
        padding-right: 10px;
    }
}
@media(max-width: 768px) {
    .textOverlay {
        padding-bottom: 100px;
        padding-top: 100px;
        margin-left: 0;
        z-index: 6;
    }
    .preloaderLogo {
        min-width: 100px;
        max-width: 100px;
        width: 100px;
    }
    .ip-header {
        min-height: 120px;
    }
    .portfolioFilters {
        height: 220px;
    }
    .memberDescription {
        text-align: center;
    }
    .memberParagraph {
        padding-right: 0;
    }
    .clientsIntro {
        text-align: center;
    }
    #text-separator {
        padding-left: 15px;
    }
    #text-separator-clients {
        padding-left: 15px;
        h2 {
            font-size: 20px;
        }
    }
    #text-separator-testimonials {
        padding-left: 15px;
        h2 {
            font-size: 20px;
        }
    }
    #text-separator-timers {
        padding-left: 15px;
    }
    .text-separator-title {
        text-align: center;
    }
    .tableWrapper {
        margin-top: 15px;
        margin-bottom: 15px;
    }
    .gallery {
        .gallery-inner {
            width: 50%;
        }
        .grid-sizer {
            width: 50%;
        }
        .grid-sizer-four-columns {
            width: 50%;
        }
        .four-columns {
            width: 50%;
        }
    }
    #countdown {
        .countdown-amount {
            font-size: 30px;
        }
        .countdown-section {
            border-left: none;
        }
    }
    .blogPost {
        width: 50%;
    }
    .grid-sizer-blog-3 {
        width: 50%;
    }
    .serviceBox h2 span {
        letter-spacing: 5px;
        font-size: 18px;
    }
    #portfolio .captionWrapper .valign {
        padding-top: 130px;
    }
    .affix .navbar-collapse {
        background: transparent;
    }
    .navbar-fixed-top .navbar-collapse {
        max-height: 100%;
    }
    .navbar-fixed-bottom .navbar-collapse {
        max-height: 100%;
    }
    .navbar-nav>li>.dropdown-menu {
        text-align: center;
    }
    .singleProjectInfo ul {
        border-left: 0;
        text-align: center;
    }
    #team .container {
        padding-bottom: 200px;
    }
}
@media(max-width: 767px) {
    .navbar-default .navbar-collapse {
        border-color: $color_mercury_approx;
        background: $black_90;
        text-align: center;
    }
}
@media screen and(max-width: 640px) {
    h1 {
        font-size: 36px;
        letter-spacing: 10px;
    }
    h2 {
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 8px;
    }
    .introLogo {
        width: 80px;
    }
    .tableWrapper {
        padding: 30px;
        padding-bottom: 50px;
    }
    .serviceBox h2 span {
        padding: 0;
        border: 0;
    }
    #singlePageIntro .container {
        padding: 30px;
    }
}
@media screen and(max-width: 600px) {
    h1 {
        font-size: 20px;
        letter-spacing: 10px;
    }
    .navbar-default {
        padding-left: 0;
        padding-right: 0;
    }
}
@media screen and(max-width: 600px) and(orientation : landscape) {
    #intro .separator {
        margin-top: 15px;
        margin-bottom: 15px;
        width: 100px;
        max-width: 100px;
    }
    .ip-logo img {
        opacity: 0;
    }
}
@media screen and(max-width: 480px) {
    .gallery {
        .grid-sizer-four-columns {
            width: 100%;
        }
        .four-columns {
            width: 100%;
        }
    }
    .serviceBox {
        width: 100%;
    }
    #text-separator-clients h3 span {
        padding: 0;
        border: none;
    }
    #text-separator-testimonials h3 span {
        padding: 0;
        border: none;
    }
}
@media screen and(max-width: 360px) {
    .blogPost {
        width: 100%;
    }
    .grid-sizer-blog-3 {
        width: 100%;
    }
    .blogPost2 {
        width: 100%;
    }
    .grid-sizer-blog-2 {
        width: 100%;
    }
    .portfolioFilters {
        height: 450px;
    }
    .tableWrapper {
        padding: 10px;
        padding-bottom: 30px;
    }
    .listwrapper {
        width: 100%;
    }
    section .container {
        padding-top: 100px;
        padding-bottom: 100px;
    }
}
@media screen and(max-width: 320px) {
}