//*
//*
//* Author: Iacob Silviu - Iulian
//*
//* Imports
//*
//*
//*

// Font-Awesome
@import "font-awesome";

// Core variables and mixins
@import "bootstrap/variables";
@import "bootstrap/mixins";

// Reset and dependencies
@import "bootstrap/normalize";
@import "bootstrap/print";
@import "bootstrap/glyphicons";

// Core CSS
@import "bootstrap/scaffolding";
@import "bootstrap/type";
@import "bootstrap/code";
@import "bootstrap/grid";
@import "bootstrap/tables";
@import "bootstrap/forms";
@import "bootstrap/buttons";

// Components
@import "bootstrap/component-animations";
@import "bootstrap/dropdowns";
@import "bootstrap/button-groups";
@import "bootstrap/input-groups";
@import "bootstrap/navs";
@import "bootstrap/navbar";
@import "bootstrap/breadcrumbs";
@import "bootstrap/pagination";
@import "bootstrap/pager";
@import "bootstrap/labels";
@import "bootstrap/badges";
@import "bootstrap/jumbotron";
@import "bootstrap/thumbnails";
@import "bootstrap/alerts";
@import "bootstrap/progress-bars";
@import "bootstrap/media";
@import "bootstrap/list-group";
@import "bootstrap/panels";
@import "bootstrap/responsive-embed";
@import "bootstrap/wells";
@import "bootstrap/close";

// Components w/ JavaScript
@import "bootstrap/modals";
@import "bootstrap/tooltip";
@import "bootstrap/popovers";
@import "bootstrap/carousel";

// Utility classes
@import "bootstrap/utilities";
@import "bootstrap/responsive-utilities";

// Owl-Carousel
@import "owl-carousel";

// Import Custom Variables
@import "variables";

// Preloader
@import "custom/preloader";

// Custom Styles
@import "custom/general";
@import "custom/tools";
@import "custom/parallax-letters";
@import "custom/buttons";
@import "custom/navbar";
@import "custom/typography";
@import "custom/sections/intro-section";
@import "custom/text-separator";
@import "custom/welcome-separator";
@import "custom/sections/about-section";
@import "custom/sections/portfolio-section";
@import "custom/sections/team-section";
@import "custom/clients-logo";
@import "custom/sections/services-section";
@import "custom/sections/testimonials-section";
@import "custom/pricing-tables";
@import "custom/sections/contact-section";
@import "custom/sections/blog-section";
@import "custom/shortcodes";
@import "custom/impromptu";

// Custom Media Queries
@import "custom/responsive";


.shopping-cart{
	position:                  fixed;
	right:                     0;
	top:                       140px;
	color:                     #000;
	background-color:          #eee;
	border:                    1px solid #A60303;
	border-right:              none;
	z-index:                   1000;
	border-bottom-left-radius: 15px;
	border-top-left-radius:    15px;
	padding:                   7px;
	overflow:                  hidden;
	font-size:                 20px;
	cursor:                    pointer;
	right:                     -50px;
	user-select:               none;

	transition: all 0.5s cubic-bezier(0.94, 0.23, 0, 1.04);
	max-width: 130px;
	max-height: 37px;

	>i{
		font-size: 22px;
	}
	hr{
		margin: 5px;
	}
	.shopping-cart-header{
		transition: all 0.5s cubic-bezier(0.94, 0.23, 0, 1.04);
		animation-delay: 0.5s;
		text-align: center;
		display: inline-block;
		width: 65px;
		border-bottom: 1px solid #A60303;
	}

	.shopping-cart-body{
		background-color: #fff;
		padding: 5px;
		font-size: 14px;
		text-align: center;
	}
	.shopping-cart-footer{
		background-color: #fff;
		text-align: center;
	}

	&:hover{
		.shopping-cart-header{
			color: black;
			width: 100%;
		}
		max-height: 100%;
		max-width: 100%;
		right: 0;
	}
	.shopping-btn{
		@extend .btn;  
		color: #fff;
		background-color: #A60303;
		padding: 5px 10px;
		font-size: 13px;
		text-align: right;
		line-height: normal;
		transition: all 0.2s cubic-bezier(0.94, 0.23, 0, 1.04);

		&:hover{
			background-color: #F34805;
		}
		&:after{
			width: 0;
		}
		&:before{
			width: 0;
		}
	}
	table {
		tr{
			td,th{
				&:first-child{
					text-align: left;
				}
				text-align: center;
				i{
					font-size:  25px;
				}
			}	
		}
	}

}