// #
// #
// #
// # About - Section.
// #
// #
// #
// #


#about{
    background-color: $about-background;
}
#about .container{
    padding-top:200px;
}

.aboutIconWrapper{
    position:absolute;
}

.aboutText{
    position:relative;
    padding-left:50px;
}

.aboutIconWrapper{
    font-size:80px;
    color: $about-icon-color;
    z-index:0;
}

.aboutItem{
    margin-top:30px;
    margin-bottom:30px;
}

.progress-bar {
    color: $progress_bar_color;
    background-color: $progress_bar_background;
    -webkit-box-shadow: none;
    box-shadow: none;
    -webkit-transition: $progress_bar_transition;
    -o-transition: $progress_bar_transition;
    transition: $progress_bar_transition;
}

.progress {
    height: 16px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: $about_progress_background;
    $about_progress_border_rad: 0px;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: $about_progress_border;
}

