//*
//*
//*
//*
//* Blog Styles
//*
//*
//*

#blogIntro {
    background: $white;
    .container {
        padding-bottom: 130px;
    }
    .separator {
        margin-top: 80px;
        margin-bottom: 0;
    }
}
#blogContent {
    background: $white;
    .container {
        padding-top: 0;
    }
}

@include 'blog/isotope';