//*
//*
//*
//*
//* Intr-Section Styles
//*
//*
//*

#intro {
	h1 {
		color: $white;
	}
	p {
		color: $white;
	}
	.separator {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	a {
		margin-top: 20px;
	}
}
.introLogo {
	position: relative;
	width: 160px;
	margin-bottom: 20px;
}
