// #
// # 
// #
// # Intro - Section.
// #
// #
// #
// #

#intro h1, #intro p{
    color: $white;
}

.introLogo{
    position: relative;
    width: 250px;
    margin-bottom:20px;
}

#intro .separator{
    margin-top:30px;
    margin-bottom: 30px;
}

#intro a {
    margin-top:20px;
}