/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Services -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

.serviceBox{
    width:50%;
    height:400px;
    position:relative;
    float:left;
    padding:50px;
    z-index: 2;
}

.serviceBox .separator {
    width: 100px;
    max-width: 100px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.serviceBox h2 {
    padding-top:140px;
    margin-top:0;
}

.serviceBox h2 span{
    padding:25px 50px;
    border: solid 10px #282828;
}

.serviceBox i{
    font-size:9em;
}

.introServiceBox{
    position:relative;
    z-index:2;
    background:url('img/backgroundService.jpg') no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}


.whiteBox{
    background:white;
}

.blackBox{
    background:#282828;
}

.blackBox i{
    color:white;
}



#servicesSimple{
    background:white;
}

.serviceIconWrapper{
    padding:20px;
}

.serviceIcon{
    width: 40px;
    height: 40px;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    line-height: 40px;
    margin-top: 3px;
    float: left;
    transition: all .3s ease-in-out;
}

.simpleServiceContent{
    margin-left: 60px;
}

.simpleServiceContent h4{
    letter-spacing:5px;
}


.serviceIconWrapper{
    padding:20px;
}

.serviceIcon2{

    font-size: 40px;
    line-height: 40px;
    transition: all .3s ease-in-out;
    margin-bottom:20px;
}


.simpleServiceContent2 h4{
    letter-spacing:4px;
}
