// #
// # 
// #
// # Services - Section.
// #
// #
// #
// #

.serviceBox{
    width:50%;
    height:400px;
    position:relative;
    float:left;
    padding:50px;
    z-index: 2;
}

.serviceBox .separator {
    width: $service_box_separator_width;
    max-width: $service_box_separator_max_width;
    margin-top: 25px;
    margin-bottom: 25px;
}

.serviceBox h2 {
    padding-top:140px;
    margin-top:0;
}

.serviceBox h2 span{
    padding: 25px 50px;
    border: $services_h2_span_border;
}

.serviceBox i{
    font-size: $service_box_i_font_size;
}

.introServiceBox{
    position:relative;
    z-index:2;
    background:url($intro_service_box_background_url) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-position: 50% 0, 50% 0, 50% 0, 50% 0;
    background-repeat: repeat, repeat, repeat ,no-repeat;
}

.whiteBox{
    background: $white_box_background
}

.blackBox{
    background: $black_box_background; 
}

.blackBox i{
    color: $black_box_i_color;
}

#servicesSimple{
    background: $services_simple_background;
}

.serviceIconWrapper{
    padding:20px;
}

.serviceIcon{
    width: $services_icon_width;
    height: $services_icon_height
    text-align: $services_icon_align;
    vertical-align: middle;
    font-size: $services_icon_font_size;
    line-height: $services_icon_line_height;
    margin-top: 3px;
    float: left;
    transition: $services_icon_transition;
}

.simpleServiceContent{
    margin-left: 60px;
}

.simpleServiceContent h4{
    letter-spacing: $simple_service_content_h4_letter_spacing;
}


.serviceIconWrapper{
    padding:20px;
}

.serviceIcon2{

    font-size: $service_icon_2_font_size;
    line-height: $service_icon_2_line_height;
    transition: $service_icon_2_transition;
    margin-bottom:20px;
}


.simpleServiceContent2 h4{
    letter-spacing:4px;
}

