//*
//*
//*
//*
//* Team-Section Styles
//*
//*
//*

#team {
    background: $white;
    .container {
        padding-bottom: 0;
    }
    .owl-buttons {
        div {
            padding: 5px 9px;
            position: absolute;
            top: 50%;
            //Instead of the line below you could use @includetransform($scale, $rotate, $transx, $transy, $skewx, $skewy, $originx, $originy)
            transform: translateY(-50%);
        }
        i {
            margin-top: 2px;
        }
        .owl-prev {
            left: 10px;
        }
        .owl-next {
            right: 10px;
        }
    }
}
#owl-team {
    position: relative;
}
.memberParagraph {
    padding-right: 40px;
}
.memberDescription {
    h2 {
        letter-spacing: 0;
    }
    .position {
        margin-top: 10px;
        margin-bottom: 40px;
        span {
            font-family: $font_montserrat, $font_sans_serif;
            font-weight: 400;
            font-size: 10px;
            letter-spacing: 3px;
            line-height: 20px;
            text-transform: uppercase;
            border: solid 1px $black;
            padding: 6px;
        }
    }
}
.teamSocial {
    margin-top: 20px;
    a {
        padding: 7px;
        font-size: 18px;
        &:first-child {
            padding-left: 0;
        }
    }
}