/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/
/*<!--Testimonials -->*/
/*<!--~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~-->*/

#text-separator-testimonials h3 span{
    padding:25px 50px;
    border: solid 10px white;
    font-size:24px;
    text-transform: uppercase;
    letter-spacing: 6px;
    color:white;
}
#text-separator-testimonials h3{
    padding-top:100px;
}


.review{
    text-align:center;
    padding:40px;
}


.review p.titulation{
    color:#c8c8c8;
    font-style:italic;
    font-size:10px;
}
.review h4{
    color:#898989;
    letter-spacing:0;
    margin-bottom:0px;
}

.text-separator-title h2{
    padding-top:100px;
}
