//*
//*
//*
//*
//* Testimonials-Section Styles
//*
//*
//*

.review {
    text-align: center;
    padding: 40px;
    h4 {
        color: $color_monsoon_approx;
        letter-spacing: 0;
        margin-bottom: 0;
    }
    p.titulation {
        color: $color_pumice_approx;
        font-style: italic;
        font-size: 10px;
    }
}
#text-separator-testimonials h3 {
    padding-top: 100px;
    span {
        padding: 25px 50px;
        border: solid 10px $white;
        font-size: 24px;
        text-transform: uppercase;
        letter-spacing: 6px;
        color: $white;
    }
}
.text-separator-title h2 {
    padding-top: 100px;
}
