// #
// # 
// #
// # Testimonials Section.
// #
// #
// #
// #


#text-separator-testimonials h3 span{
    padding: 25px 50px;
    border: $text_separator_testimonials_h3_span_border;
    font-size: $text_separator_testimonials_h3_span_font_size;
    text-transform: uppercase;
    letter-spacing: 6px;
    color: $text_separator_testimonials_h3_span_color;
}

#text-separator-testimonials h3{
    padding-top:100px;
}

.review{
    text-align: $testimonials_review_align;
    padding: 40px;
}

.review p.titulation{
    color: $testimonials_review_tit_color;
    font-style: $testimonials_review_tit_color_style;
    font-size: $testimonials_review_tit_font_size;
}

.review h4{
    color: $testimonials_review_h4_color;
    letter-spacing: $testimonials_review_h4_letter_spacing;
    margin-bottom: 0px;
}

.text-separator-title h2{
    padding-top:100px;
}