// #
// # 
// #
// # Buttons.
// #
// #
// #
// #

.btn{
    background: $general_btn_background;
    border-radius:0;
    border:0;
    font-family: $font_montserrat, $body_font_sansserif;
    font-weight: 700;
    text-transform: $general_btn_ttransform;
    position: relative;
    line-height: 40px;
    padding: 0 40px;
    font-size: 12px;
    letter-spacing: .2em;
    border-top: $general_btn_border_top;
    border-bottom: $general_btn_border_bottom;

    outline: 1px solid transparent;

    -webkit-transition: $general_transition;
    transition: $general_transition;
}


.btn-default{
    display: inline-block;
    color: white;

}

.btn-default:hover{
    border-color: white;
}

.btn:after, .btn:before {
    -webkit-transition: $btn_transition_afterandbefore;
    transition: $btn_transition_afterandbefore;
    content: '';
    position: absolute;
    width: 2px;
    height: 100%;
    top: 0;
    background: $white;
}


.btn:before {
    left: -8px;
}

.btn:hover:before {
    left: 0;
}

.btn:after {
    right: -8px;
}

.btn:hover:after {
    right: 0;
}



.btn-default:hover, .btn-default:focus, .btn-default:active, .btn-default.active, .open>.dropdown-toggle.btn-default {
    color: $btn_default_color;
    background-color: $btn_default_background;
    border-color: $white;
}
.btn:active, .btn.active {
    background-image: none;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.btn:focus, .btn:active:focus, .btn.active:focus {
    outline: 0;
}

.btn-black{
    color: $btn_black_color;
}

.btn-black:after, .btn-black:before {
    background: $btn_black_background;
}

.btn-black:hover {
    color: $white;
    background-color: $btn_black_background;
    border-color: $btn_black_background;
}


