// #
// # 
// #
// # Clients - Logo.
// #
// #
// #
// #

#text-separator-clients{
    padding-top:110px;
    padding-bottom:110px;
}

#text-separator-clients h3 span{
    padding:25px 50px;
    border: $clients_h3_border;
    font-size: $clients_h3_font_size;
    text-transform: uppercase;
    letter-spacing: $clients_h3_letter_spacing;
    color: $clients_h3_color;
}

.clientLogo img{
    width:180px;
    margin-top: 15px;
}