// #
// # 
// #
// # Parallax - Letters.
// #
// #
// #
// #

.parallaxLetter{
    position:absolute;
    font-size:$parallax_letters_fsize;
    color: $parallax_letters_color;
    z-index:1;
    width: $parallax_letters_width;
    height: $parallax_letters_height;
}


.letter1{
    right: $parallax_letters_letter1_pos_right;
}

.letter2{
    left: $parallax_letters_letter2_pos_left;
}

.letter3{
    right: $parallax_letters_letter3_pos_right;
}

.letter4{
    left: $parallax_letters_letter4_pos_left;
}
