//*
//*
//*
//*
//* Parallax-Letters Styles
//*
//*
//*

.parallaxLetter {
    position: absolute;
    font-size: 300px;
    color: $color_alabaster_approx;
    z-index: 1;
    width: 200px;
    height: 300px;
}
.letter1 {
    right: 20%;
}
.letter2 {
    left: 20%;
}
.letter3 {
    right: 15%;
}
.letter4 {
    left: 10%;
}