// #
// # 
// #
// # Pricing Tables.
// #
// #
// #
// #

#pricing{
    background-color: $pricing_background;
}

.tableWrapper{
    padding:60px;
    border: $pricing_table_wrapper_border;
    margin-bottom: 20px;
}

.tableWrapper .separator{
    padding:20px;
    margin-top:20px;
    margin-bottom:20px;
}

.tableWrapper .subscriptionName h2{
    letter-spacing:0;
}

.subscriptionList ul{
    list-style: none;
    padding: 0;
}

.subscriptionPrice{
    padding-bottom:10px;
}

.subscriptionPrice h2{
    letter-spacing:0;
}

.subscriptionPrice h2,
.subscriptionPrice p{
    display:inline;
}
