//*
//*
//*
//*
//* Tools Styles
//*
//*
//*

.separator {
    width: 170px;
    max-width: 170px;
    margin-top: 120px;
    margin-bottom: 100px;
}
.lineSeparator {
    width: 60px;
    max-width: 60px;
    margin-top: 30px;
    margin-bottom: 30px;
}
.preloaderLogo {
    min-width: 200px;
    max-width: 300px;
    width: 15%;
}
.black-overlay {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    background: radial-gradient(ellipse at center, rgba(0,0,0,0) 0,$black_80 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#a6000000',GradientType=1 );
}
.sectionIntro {
    p {
        margin-top: 100px;
    }
    h2 span {
        padding: 25px 50px;
        border: solid 10px $color_shark_approx;
    }
}
.noscroll {
    overflow: hidden;
}
.container {
    z-index: 2;
    overflow: hidden;
}